::-moz-selection {
	text-shadow: none;

	color: map-get($colors-selection, 'text');
	background: map-get($colors-selection, 'background');
}

::selection {
	text-shadow: none;

	color: map-get($colors-selection, 'text');
	background: map-get($colors-selection, 'background');
}
