.c-checkbox {
	&-container {
		display: flex;
		align-items: center;
	}

	&__label {
		display: flex;
		align-items: center;

		cursor: pointer;

		&::before {
			width: 1em;
			height: 1em;
			margin-right: 0.5em;
			border-radius: 0.15em;

			border: 1px solid map-get($colors-main, 'regular');
			border-radius: 25%;

			content: '';
		}
	}

	&__input {
		position: absolute;

		opacity: 0;

		cursor: pointer;
	}

	&__label:hover::before,
	&__input:hover + &__label::before,
	&__input:focus + &__label::before,
	&__input:active + &__label::before {
		box-shadow: map-get($shadows-checkbox, 'primary');
	}

	&__input:checked + &__label::before {
		display: flex;
		justify-content: center;
		align-items: center;

		color: $color-background;

		background-color: map-get($colors-main, 'regular');
		box-shadow: map-get($shadows-checkbox, 'primary');

		content: '\002714';
	}
}
