$colors-main: (
	'regular': #a74ea4,
	'dark': #863e83,
	'shadow': #32173129,
	'nav-active-item': #964694,
	'border-dark': #1b1219,
);

$colors-selection: (
	'text': #ffffff,
	'background': #b060ad,
);

$colors-text: (
	'light': #ffffff,
	'regular': #767676,
	'title': #212121,
	'subtitle': #212121,
	'link': #337ab7,
);

$colors-collapse: (
	'text': map-get($colors-main, 'dark'),
	'background': #ffffff,
	'border': #c0c0c0,
	'shadow': #c0c0c029,
);

$colors-card: (
	'background': #ffffff,
	'border': #c0c0c0,
	'shadow-card': #c0c0c0,
	'shadow-image': #0000003d,
);

$colors-thankyou: (
	'icon': #35b763,
);

$colors-form: (
	'label-text': #707070,
	'background': #ffffff,
	'error': #ff3333,
	'error-focus': #ff7777,
	'input-text': #606060,
	'border': #c0c0c0,
	'input-hover-border': #777777,
	'input-focus-border': map-get($colors-main, 'regular'),
	'input-focus-shadow': map-get($colors-main, 'shadow'),
);

$colors-button: (
	'text': #ffffff,
	'border': #ffffff,
	'background': map-get($colors-main, 'regular'),
	'hover-primary': #b060ad,
	'hover-secondary': #b060ad,
);

$colors-footer: (
	'text': #626262,
	'background': #e6e6e6,
);

$color-background: #ffffff;

$color-horizontal-rule: #0000003d;
