$shadows-main: (
	'navbar': map-get($colors-main, 'shadow') 0 3px 6px,
	'menu': map-get($colors-main, 'shadow') 3px 0 6px,
	'image': map-get($colors-main, 'shadow') 0 0 6px 2px,
	'collapse': map-get($colors-collapse, 'shadow') 0 0 6px 2px,
);

$shadows-button: (
	'primary': map-get($colors-main, 'shadow') 0 3px 6px,
);

$shadows-form: (
	'input-focus': map-get($colors-form, 'input-focus-shadow') 0 0 0 3px,
);

$shadows-checkbox: (
	'primary': map-get($colors-main, 'shadow') 0 3px 6px,
);

$shadows-card: (
	'card': map-get($colors-card, 'shadow-card') 0 3px 6px,
	'image': map-get($colors-card, 'shadow-image') 0 3px 6px,
);
