.c-text-on-image {
	position: relative;

	margin: 100px 0 164px;
}

.c-text-on-image-text {
	position: absolute;
	top: -96px;
	left: 0;

	padding: 8px;

	background-color: #00000066;

	&__title {
		margin: 0 0 4px;

		font-weight: 600;
	}

	&__subtitle {
		margin: 0 0 20px;
	}

	&__text {
		margin: 10px 0 0;
	}
}

.c-text-on-image__image {
	width: 100%;

	transform: scale(1.85);
}
